body{
    background: gray;
    margin:0;
}

header{
    background: white;
    padding:10px;
}

header h1{
    margin:0;
}

div.post{
    background: white;
    margin-top: 40px;
}

div.post img{
    width: 100%;
}

div.container{
    width: 600px;
    margin:auto;
}

div.post h2{
    padding:10px;
    margin:0;

}

div.post p{
    padding:8px;
    margin-top: 0;
}

div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}

div.post .post-header div:last-child{
    display: inline-block;
    width: 20%;
    text-align: right;
    padding: 10px;
    color: gray;
}

div{
    box-sizing: border-box;
}



